.custom-shape-divider-top-1703653128 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1703653128 svg {
    position: relative;
    display: block;
    width: calc(200% + 1.3px);
    height: 120px;
}

.custom-shape-divider-top-1703653128 .shape-fill {
    fill: #F3D40A;
}

#home{
    position: relative;
    background-color: #f3d40a;
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}
    .home_avatar{
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 100%;
        margin-bottom: 1rem;
        border: 3px solid var(--color-text);
        animation: rotate_image 6s linear infinite;
    }
        @keyframes rotate_image{
            100% { transform: rotate(360deg);}
        }
        
    .section_title{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
        .home_title-strong{
            color: var(--color-orange);
        }
    .section_description{
        font-size: 1.3rem;
    }
    .section_contact{
        display: inline-block;
        margin: 1rem;
        padding: 0.5rem 1rem;
        font-weight: bold;
        border-radius: 5px;
        background-color: transparent;
        color: var(--color-orange);
        outline: 2px solid var(--color-orange);
    }
    .section_contact:hover{
        background-color: var(--color-orange);
        color: var(--color-black);
    }