/* Testimonial start */

#testimonial{
    background-color: #0d41d3;
}

#testimonial .section_title, #testimonial .section_text{
    color: white;
}

.testimonial_all{
    margin: 3rem;

}
    .testimonial_each{
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 2rem;
        transition: all 1s;
    }
    .testimonial_each:nth-child(even) .testimonial_img{
        order: 1; /* 0이면 왼쪽, 1이면 오른쪽  */
    }
        .testimonial_img{
            width: 150px;
            height: 150px;
            border-radius: 100%;
            box-shadow: 4.0px 8.0px 8.0px rgba(0, 0, 0, 0.38);
        }
        .testimonial_bubble{
            padding: 1rem;
            border-radius: 10px;
            background-color: white;
            box-shadow: 4.0px 8.0px 8.0px rgba(0, 0, 0, 0.38);
        }

            .testimonial_bubble_name{
                color: var(--color-orange);
                font-weight: bold;
            }